<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/purple-flowers.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>The More You Grow!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>The More You Grow app offers an opportunity for gardeners around the world to photograph and catalog
        the most exciting plants they've seen. Plant lovers will be able to photograph stunning flowers and create
        a collection of their favorite plants. Coming in 2020, our users will be able to 
        share their photos with friends!
      </p>
      <br>
      <p>
        To get started, go to the 'My Plants' tab to start photographing the natural beauty of the world around
        you and start building your very own virtual garden gallery.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
