<ion-header>
  <ion-toolbar>
    <ion-title>
      Contact Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <img src="https://hgtvhome.sndimg.com/content/dam/images/hgtv/stock/2018/2/8/0/Shutterstock_73167883_White-Flowers_Clematis.jpg.rend.hgtvcom.966.725.suffix/1518116872774.jpeg" style="width:600px;height:auto;"/>
    <ion-card-content>
      <p>
        We're grateful for your in interest in "The More You Grow".
        Please contact us with any questions or concerns.
      </p>
      <br>
      <ion-card-title>Contact Name</ion-card-title>
      <p>Jane Doe</p>
      <br>
      <ion-card-title>Email</ion-card-title>
      <p>jdoe@themoreyougrow.com</p>

    </ion-card-content>
  </ion-card>
</ion-content>